:root {
  --main-color: darkblue;
  --box-shadow: 0 0 30px gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
}

nav {
  background-color: var(--main-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  flex-direction: row;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: var(--main-color);
  padding-bottom: 2rem;
}
p {
  padding: 0;
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: var(--box-shadow);
  float: right;
}

main {
  max-width: 900px;
  padding: 2rem;
}

aside {
  position: relative;
  width: 500px;
  box-shadow: var(--box-shadow);
  text-align: center;
}
h2 {
  position: absolute;
  top: 47px;
  left: 210px;
}
aside img {
  width: 200px;
  height: auto;
}
footer {
  margin-top: 3rem;
  border-top: 1px solid darkblue;
  text-align: center;
  padding: 2rem;
}

/* Class selector */

.box {
  margin: 3rem;
  border: 1px solid rgb(51, 50, 50);
  padding: 10px;
  background-color: lightgray;
  color: #000;
}
.img-bogota {
  padding-bottom: 1rem;
}
